@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: var(--color-white-wolf);
}

img,
picture,
video,
canvas,
iframe,
svg {
  display: block;
  max-width: 100%;
  max-inline-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}
