h1,
.xl-p {
  font-size: 36px;
  line-height: 36px;
}

h2,
.lg-p {
  font-size: 30px;
  line-height: 30px;
}

h3,
.md-p {
  font-size: 24px;
  line-height: 24px;
}

h4,
.sm-p {
  font-size: 18px;
  line-height: 18px;
}

h5,
.xs-p {
  font-size: 12px;
  line-height: 12px;
}

h6,
.xs-p {
  font-size: 6px;
  line-height: 6px;
}
