.docs-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.docs-content {
  margin: 0 0 2rem 0;
}

.docs-sidebar {
  flex: 0 0 200px;
  margin-right: 5rem;
  background-color: var(--color-white);
}

.list-topic {
  padding: 1rem;
  font-weight: var(--font-medium);
  border-bottom: 1px solid var(--color-white);
  margin-bottom: 0.5rem;
}

.list-topic a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: var(--font-bold);
  font-size: 1rem;
}

.list-subtopic {
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in;
  font-size: 1rem;
}

.list-subtopic .active {
  font-weight: var(--font-bold);
  color: var(--default-color);
}

.list-subtopic li {
  font-size: 1rem;
  list-style: none;
  padding: 0.7rem 1.1rem;
  font-weight: var(--font-medium);
  transition: all 0.3s ease-in-out;
}

.list-subtopic li a:hover {
  cursor: pointer;
  color: var(--color-default);
}

.list-subtopic a {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0 1rem;
  }

  .docs-container {
    padding: 1rem;
  }

  .docs-sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--color-white);
    width: 280px;
    scroll-behavior: smooth;
    overflow: auto;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
  }
}

@media screen and (max-width: 1032px) {
  .docs-container {
    padding: 1rem;
  }

  nav {
    padding: 0 1rem;
  }
}
