.card {
  height: 450px;
  width: 350px;
  background-color: var(--color-white);
  text-align: center;
  position: relative;
}

.card-image {
  height: auto;
  width: 100%;
  border-radius: 0px 0 0 50px;
  object-fit: cover;
}

.card-header {
  margin: 0.2rem auto;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: var(--color-black);
}

.card-text {
  display: inline-block;
  margin: 0.2rem auto;
  font-size: 1rem;
  color: var(--color-black);
}

.card-btn > p {
  color: var(--card-shadow);
  font-size: 1.5rem;
  overflow: hidden;
}

span {
  display: inline-block;
  font-size: 1.5rem;
}

/* textonly card  */

.textonly-card {
  margin: 1rem;
  height: 200px;
}

/* text overlay */

.text-overlay {
  text-align: left;
  height: 250px;
}

.text-overlay > .card-content {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.overlay-text {
  color: var(--color-secondary);
}

/* badge card  */

.image-badge {
  position: absolute;
  top: 10px;
  background-color: var(--color-danger);
  border-radius: 5px;
  padding: 0.2rem;
  color: var(--color-white);
}

/* dismissable-card */

.dismissable-card > .svg {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}
