.modal {
  width: 450px;
  background-color: var(--color-shadow);
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.modal-heading {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
}

.modal-subhead {
  font-size: 1.2rem;
  font-weight: var(--font-regular);
}

.modal-close {
  position: absolute;
  right: 0;
  top: 5%;
  color: black;
}
